<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey</title>
</head>
<body style="text-align: center;">
    <form action="/result" method="POST">
        <p>당신의 성별은 ??</p>
        <label><input type='radio' id='' value='남자' name='gender' checked>남자</label>
        <label><input type='radio' id='' value='여자' name='gender'>여자</label><br />
        
        <p>좋아하는 동물은??</p>
        <label><input type='radio' id='' value='호랑이' name='animal' checked>호랑이</label>
        <label><input type='radio' id='' value='코끼리' name='animal'>코끼리</label><br /><br />
        <button type="submit">제출</button>
    </form>
</body>
</html>